/* 
    Created on : Sep 30, 2015, 10:07:50 PM
    Author     : Hein
*/
.combo-box {
    -fx-background-color: #55606e;
    -fx-background-radius: 0;
    -fx-cell-size: 1.66667em; 
}

.combo-box .arrow-button .arrow {
    -fx-background-color: #FFFFFF;
}

.combo-box .list-cell {
    -fx-background-color: #55606e;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.combo-box-popup .list-cell {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #24afb2;
    -fx-text-fill: #FFFFFF;
}

.combo-box .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-color: derive(gray,80%);
}

.combo-box .increment-button,.combo-box .decrement-button {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #55606e;
    -fx-padding: 9px;
}

.combo-box .scroll-bar:vertical .track {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #55606e;
    -fx-background-radius: 0;
}

.combo-box .scroll-bar:vertical .thumb {
    -fx-background-color: #55606e;
    -fx-background-radius: 0;
    -fx-background-insets: 0,0,0;
}

.combo-box .scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}

.combo-box .scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}


.button {
    -fx-background-color: #55606e;
    -fx-background-radius: 0;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.button:hover {
    -fx-background-color: #24afb2;
}

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0;
}

.text-field:hover {
    -fx-background-inset: 2;
    -fx-border-color: #24afb2;
    -fx-text-fill: #24afb2;
}

.tab {
    -fx-background-color: #55606e;
    -fx-background-radius: 0;
}

.tab:selected {
    -fx-background-color: #24afb2;
}

.tab .tab-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;    
}

.tab-pane {
    -fx-background-color: #e9e9e9;
}
